.moviePage {
  display: inline-block;
  margin: 5px;
  height: 480px;
  border-radius: 5px;
  transition: 0.5s;
  color:var(--text) !important;
}

.moviePage:hover {
  background-color:var(--text);
  color:var(--background) !important;
  border: 2px solid var(--primary);
  scale: 1.02;
}

.popularityDiv {
  display: flex;
  flex-direction:column;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}

.movieImg img {
  height: 38rem;
  width: 28rem;
  margin: 10px;
  border-radius: 7px;
}

.movieImg img:hover {
  filter: blur(1px);
}

.movieDetails h2 {
  position: relative;
  margin: 10px 10px 0 10px;
  height: 50px;
  font-size: 30px;
  font-weight:bold;
  
}

.voteProgress {
  position: relative;
  width:200px;
  height:20px;
  font-size:13px;
  color:var(--background);
} 

small {
  position: relative;
  top: -9px;
  margin: 10px;
  font-size:14px
}

@media (max-width: 768px) {
  .movieDetails {
    display: none;
  }
}

.movieDetails > p {
  position: relative;
  margin:10px;
  width: 60%;
  font-size: 16px;
}

.overviewTitle {
  position: relative;
  margin-top:30px;
  font-size:14px;
  font-weight:bold;
}

.recommendationsTitle {
  margin: 10px;
  font-size: 40px;
  text-decoration: underline;
}

.recommendations {
  margin: 5px 5px;
  display: flex;
  height: 33rem;
}

.recommendation {
  display: flex;
  position: relative;
  flex-direction:column;
  height: 30rem;
  width: 17rem;
  margin-top: 12px;
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: var(--text);
  color: var(--background);
  transition: 0.3s;
  overflow: hidden;
}

.recommendations .recommendation:hover {
  scale: 1.03;
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: var(--background);
  color: var(--accent);
}

.recommendation  .rating {
  position: absolute;
  top: 67%;
  left: 5% ;
  z-index: 3;
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  border-radius: 60%;
  overflow: hidden;
  border: 1px solid var(--secondary);
}


.recommendations .recommendation .recommendationImg {
  width: 17rem;
  height: 23rem;
  border-radius: 5px;
}

.recommendations .recommendationDetails {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.recommendationDate {
  font-size: 12px;
  margin-top: 5px;
}

