.moviePage {
  margin: 5px;
  height: 40rem;
  border-radius: 5px;
}

.popularityDiv {
  display: flex;
  margin: 10px;
  color: var(--text);
  font-size: 16px;
}

.movieImg img {
  height: 38rem;
  width: 28rem;
  margin: 10px;
  border-radius: 7px;
}

.movieDetails h2 {
  margin: 20px;
  height: 100px;
  font-size: 30px;
  color: var(--text);
}

.movieDetails > p {
  width: 70%;
  font-size: 16px;
  color: var(--text);
  margin: 10px;
}

.recommendationsTitle {
  margin: 10px;
  color: var(--text);
  font-size: 40px;
  text-decoration: underline;
}

.recommendations {
  margin: 5px 5px;
  display: flex;
  height: 33rem;
}

.recommendation {
  display: flex;
  position: relative;
  flex-direction:column;
  height: 30rem;
  width: 17rem;
  margin-top: 12px;
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: var(--text);
  color: var(--background);
  transition: 0.3s;
  overflow: hidden;
}

.recommendations .recommendation:hover {
  scale: 1.03;
  border: 1px solid var(--text);
  border-radius: 5px;
  background-color: var(--background);
  color: var(--accent);
}

.recommendation  .rating {
  position: absolute;
  top: 67%;
  left: 5% ;
  z-index: 3;
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  border-radius: 60%;
  overflow: hidden;
  border: 1px solid var(--secondary);
}


.recommendations .recommendation .recommendationImg {
  width: 17rem;
  height: 23rem;
  border-radius: 5px;
}

.recommendations .recommendationDetails {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.recommendationDate {
  font-size: 12px;
  margin-top: 5px;
}

