.cardElement {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: var(--accent);
  height: 33rem;
  width: 17.5rem;
  transition: .1s;
}

.cardElement:hover {
    scale: 1.01;
}

.cardImg {
    height: 25rem;
    border-radius: 10px;
    border: 1px solid var(--text);
}

.cardText {
    font-size: 12px ;
    font-weight: 500;
    text-decoration: none;
}

.cardTitle {
    font-size: 16px;
    font-weight: 700;
    -webkit-text-stroke-color: yellow;
}

.cardHeart {
    position: absolute;
    width: 30px;
    height: 30px;
    color: white;
    text-decoration: none;
    transition: .5s;
    right: 1.5rem;
    bottom: 1.5rem;
}

.cardHeart:hover {
    color: yellow;
}

.rating {
  position: absolute;
  top: 22.7rem;
  left: 1.3rem;
  z-index: 1;
  width: 46px;
  height: 46px;
  background-color: var(--secondary);
  border-radius: 51%;
  overflow: hidden;
  border: 1px solid var(--secondary);

}




