.footer {
  position: relative;
  margin-top: 10px;
  background-color: var(--secondary);
  font-family: monospace;
  height: 70px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
  width: 100%;
}

@media (max-width: 1400px) {
  .footer {
display: none;  }
}
