:root[data-theme="light"] {
  --text: #032104;
  --background: #f6fef6;
  --primary: #0e9017;
  --secondary: #defce0;
  --accent: #25e932;
}
:root[data-theme="dark"] {
  --text: #defcdf;
  --background: #010901;
  --primary: #6ff178;
  --secondary: #032105;
  --accent: #16da23;
}

body {
  background-color: var(--background) !important;
}

.Home-header {
  color: var(--text);
  margin: 10px;
  font-size: 40px;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.theme-container.dark-mode {
  background-color: #444444;
  color: #ffffff;
}

button.dark-mode {
  background-color: #5bc0de;
  color: #ffffff;
}
