:root[theme="light"] {
  --text: #032104;
  --background: #f6fef6;
  --primary: #0e9017;
  --secondary: #defce0;
  --accent: #25e932;
}
:root[theme="dark"] {
  --text: #defcdf;
  --background: #010901;
  --primary: #6ff178;
  --secondary: #032105;
  --accent: #16da23;
}

:root[lang="en"] .body-text-direction {
  direction: ltr;
}

/* Set text direction for Arabic */
:root[lang="ar"] .body-text-direction {
  direction: rtl;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background:var(--background); 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--accent); 
  border-radius:2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--text); 

}

body {
  background-color: var(--background) !important;
}

.Home-header {
  color: var(--text);
  margin: 10px;
  font-size: 40px;
}

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator {
  direction: ltr;
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  border: 1px solid var(--accent);
  border-radius: 7px;
  font-size: 30px;
}

/* Language dropdown style*/

.langIcon {
  width: 15px;
  height: 15px;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: var(--background);
  color: yellow;
  border: 1px solid #ccc;
  border-radius:5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content button {
  width: 100%;
  text-align: left;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--text);
}

.dropdown-content button:hover {
  background-color: var(--text);
  color: var(--background);
}

/* /Dark Mode Styles */

/* body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.theme-container.dark-mode {
  background-color: #444444;
  color: #ffffff;
}

button.dark-mode {
  background-color: #5bc0de;
  color: #ffffff;
} */
