:root[data-theme="light"] {
  --text: #000000;
  --background: #fef3e7;
  --primary: #e2ed07;
  --secondary: #e0fdc9;
  --accent: #71f207;
}
:root[data-theme="dark"] {
  --text: #ffffff;
  --background: #190e01;
  --primary: #ecf812;
  --secondary: #193602;
  --accent: #76f80d;
}

body {
background-color: var(--background) !important;
}

.Home-header {
  color: var(--text);
  margin: 10px;
  font-size: 40px;
}