:root[theme="light"] {
  --text: #0c020d;
  --background: #f9e5fa;
  --primary: #1a6f15;
  --secondary: #dcf9ea;
  --accent: #8dd930;
}
:root[theme="dark"] {
  --text: #fcf2fd;
  --background: #19051a;
  --primary: #94ea8f;
  --secondary: #062213;
  --accent: #83cf26;
}

:root[lang="en"] .body-text-direction {
  direction: ltr;
}

/* Set text direction for Arabic */
:root[lang="ar"] .body-text-direction {
  direction: rtl;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background:var(--background); 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--accent); 
  border-radius:2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--text); 

}

body {
  background-color: var(--background) !important;
}

.Home-header {
  color: var(--text);
  margin: 10px;
  font-size: 40px;
}

.Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator {
  direction: ltr;
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  border: 1px solid var(--accent);
  border-radius: 7px;
  font-size: 30px;
}

/* Language dropdown style*/
.footer {
  margin-top:50px
}
.langIcon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: var(--background);
  color: yellow;
  border: 1px solid #ccc;
  border-radius:5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content button {
  width: 100%;
  text-align: left;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--text);
}

.dropdown-content button:hover {
  background-color: var(--text);
  color: var(--background);
}


@media(max-width: 575px) {


  .cardImg {
    height: 400px !important;

  }
  .cardElement{ 
    height: 490px !important;
    width: 330px !important;
}

.cardElement .rating {
  top: 75%;
  left: 6% ;
}
}


/* /Dark Mode Styles */

/* body.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.theme-container.dark-mode {
  background-color: #444444;
  color: #ffffff;
}

button.dark-mode {
  background-color: #5bc0de;
  color: #ffffff;
} */
