@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }
  
.big {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    height: 85vh;
  }
  
  main {
    transition: all 0.5s;
    -webkit-text-stroke: 7px var(--accent);
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 9rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 3px 3px 0px var(--text),
      5px 5px 0px  var(--secondary),
      5px 5px 0px var(--accent);
    cursor: pointer;
  }
  
  main:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
  }
  